<div class="container mt-5">
    <div class="card">
        <div class="card-header">
            Registrar datos
        </div>
        <div class="card-body">
            <form>
                <div class="row mb-3">
                    <div class="col">
                        <label for="nombre" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="nombre">
                    </div>
                    <div class="col">
                        <label for="apellido" class="form-label">Apellido</label>
                        <input type="text" class="form-control" id="apellido">
                    </div>
                    <div class="col">
                        <label for="dni" class="form-label">DNI</label>
                        <input type="text" class="form-control" id="dni">
                    </div>
                    <div class="col">
                        <label class="form-label d-block">Género</label>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="genero" id="masculino" value="masculino">
                            <label class="form-check-label" for="masculino">Masculino</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="genero" id="femenino" value="femenino">
                            <label class="form-check-label" for="femenino">Femenino</label>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col mb-3">
                        <label for="fecha-nacimiento" class="form-label d-block">Fecha de nacimiento</label>
                        <input type="date" class="form-control" id="fecha-nacimiento">   
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col text-end">
                        <button type="submit" class="btn btn-primary">Registrar datos ingresados</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
  